---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<>
		<div class="hero fg-white p-4 d-flex flex-align-center" data-role="gradient-box" data-gradient-colors="#8F251F 0%, #5A1414 100%">
			<div class="cell-md-6">
				<h1 class="text-center">Impulsamos tu crecimiento digital</h1>
				<p class="text-center">
					Desarrollamos software y soluciones tecnológicas a medida para empresas y emprendedores. 
					Desde sitios web hasta plataformas avanzadas, hacemos realidad tus ideas.
				</p>
			</div>
			<div class="cell-md-6 text-center">
				<img src="/img/laptop.png" alt="Laptop-Initial" class="img-responsive" />
			</div>
		</div>

		<div class="business-info p-4 mt-4">
			<div class="container">
				<h1 class="text-center">Sobre Nosotros</h1>
				<p class="text-center">
					En Reyes&Friends, nos especializamos en ofrecer soluciones tecnológicas innovadoras para empresas y emprendedores. 
					Desde el desarrollo de sitios web hasta la creación de plataformas avanzadas, estamos aquí para ayudarte a alcanzar tus metas digitales.
				</p>
			</div>
		</div>

		<div class="target-audience p-4 mt-4">
			<div class="container d-flex flex-align-center flex-justify-between">
				<div class="cell-md-6">
					<h1 class="text-left">¿A quién nos dirigimos?</h1>
					<p class="text-left">
						Nuestros servicios están diseñados para:
					</p>
					<ul class="text-left">
						<li>Emprendedores que buscan llevar sus ideas al mundo digital.</li>
						<li>Pequeñas y medianas empresas que necesitan soluciones tecnológicas personalizadas.</li>
						<li>Organizaciones que desean optimizar sus procesos mediante herramientas digitales.</li>
					</ul>
				</div>
				<div class="cell-md-6 text-center">
					<img src="/img/thumbs/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg" alt="Target Audience" class="img-responsive" />
				</div>
			</div>
		</div>

		<section class="container mt-10">
			<h1 class="text-center">¿Por qué elegir Reyes&Friends?</h1>
			<p class="text-center">Nos diferenciamos por nuestra calidad, experiencia y compromiso con cada proyecto.</p>
	
			<div class="row mt-4">
				<div class="cell-md-3">
					<div class="card image-header">
						<div class="card-header fg-white"
							 style="background-image: url(/img/thumbs/lukas-blazek-mcSDtbWXUZU-unsplash.jpg)">
						</div>
						<div class="card-content p-2">
							<p class="fg-gray">🚀 Experiencia Técnica</p>
							Usamos tecnologías modernas como Astro, Laravel y Django para soluciones rápidas y escalables.
						</div>
					</div>
				</div>
	
				<div class="cell-md-3">
					<div class="card image-header">
						<div class="card-header fg-white"
							 style="background-image: url(/img/thumbs/alvaro-reyes-qWwpHwip31M-unsplash.jpg)">
						</div>
						<div class="card-content p-2">
							<p class="fg-gray">🛠️ Desarrollo a Medida</p>
							Lo que necesites, lo creamos. Creamos soluciones adaptadas a las necesidades de cada cliente.
						</div>
					</div>
				</div>
	
				<div class="cell-md-3">
					<div class="card image-header">
						<div class="card-header fg-white"
							 style="background-image: url(/img/thumbs/luke-peters-B6JINerWMz0-unsplash.jpg)">
						</div>
						<div class="card-content p-2">
							<p class="fg-gray">⚡ Optimización y Rendimiento</p>
							Priorizamos la velocidad y la eficiencia en cada proyecto para mejorar la experiencia del usuario.
						</div>
					</div>
				</div>
	
				<div class="cell-md-3">
					<div class="card image-header">
						<div class="card-header fg-white"
							 style="background-image: url(/img/thumbs/thomas-jensen-ISG-rUel0Uw-unsplash.jpg)">
						</div>
						<div class="card-content p-2">
							<p class="fg-gray">🔗 Integraciones y Automatización</p>
							Conectamos sistemas y automatizamos tareas para mejorar productividad y reducir costos.
						</div>
					</div>
				</div>
			</div>
		</section>

	</>
</Layout>
