---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<>
		<div class="hero bg-darkRed fg-white p-4 d-flex flex-align-center">
			<div class="cell-md-6">
				<h1 class="text-center">Impulsamos tu crecimiento digital</h1>
				<p class="text-center">
					Desarrollamos software y soluciones tecnológicas a medida para empresas y emprendedores. 
					Desde sitios web hasta plataformas avanzadas, hacemos realidad tus ideas.
				</p>
			</div>
			<div class="cell-md-6 text-center">
				<img src="/img/laptop.png" alt="Laptop-Initial" class="img-responsive" />
			</div>
		</div>

		<div class="business-info p-4 mt-4">
			<div class="container">
				<h1 class="text-center">Nosotros</h1>
				<p class="text-center">
					En ReyesAndFriends, nos especializamos en ofrecer soluciones tecnológicas innovadoras para empresas y emprendedores. 
					Desde el desarrollo de sitios web hasta la creación de plataformas avanzadas, estamos aquí para ayudarte a alcanzar tus metas digitales.
				</p>
				
			</div>
		</div>
	</>
</Layout>
