<div data-role="appbar" data-expand-point="md">
    <a href="#" class="brand no-hover">
        <span style="width: 120px;" class="p-2 bd-dark border-radius">
            ReyesAndFriends</sup>
        </span>
    </a>
    <ul class="app-bar-menu">
        <li><a href="#">Home</a></li>
        <li>
            <a href="#" class="dropdown-toggle">Products</a>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="#">Windows 10</a></li>
                <li><a href="#">Office 365</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a href="#">Skype</a></li>
            </ul>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</div>