<div class="bg-black fg-white" data-role="appbar" data-expand-point="md" style="position: fixed; top: 0; width: 100%; z-index: 1000;">
    <a href="/" class="brand no-hover">
        <img style="width: 200px;" class="p-2 bd-dark border-radius" src="/reyesandfriends.svg" alt="">
    </a>
    <ul class="app-bar-menu">
        <li><a href="/projects">Proyectos</a></li>
        <li>
            <a href="#" class="dropdown-toggle">Servicios</a>
            <ul class="d-menu custom-dropdown" data-role="dropdown">
                <li><a href="/services/">Lista de servicios</a></li>
                <li><a href="/services/landing-pages">Landing pages</a></li>
                <li><a href="/services/software">Software personalizado</a></li>
                <li class="divider"></li>
                <li><a href="#">Nuestra gallina de huevos de oro</a></li>
            </ul>
        </li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
</div>