<div class="bg-gray" data-role="appbar" data-expand-point="md" style="position: fixed; top: 0; width: 100%; z-index: 1000;">
    <a href="/" class="brand no-hover">
        <span style="width: 120px;" class="p-2 bd-dark border-radius">
            ReyesAndFriends.cl</sup>
        </span>
    </a>
    <ul class="app-bar-menu">
        <li><a href="/projects">Proyectos</a></li>
        <li>
            <a href="" class="dropdown-toggle">Servicios</a>
            <ul class="d-menu bg-lightgray" data-role="dropdown">
                <li><a href="/services/">Lista de servicios</a></li>
                <li><a href="/services/landing-pages">Landing pages</a></li>
                <li><a href="/services/software">Software personalizado</a></li>
                <li class="divider bg-lightgray"></li>
                <li><a href="">Nuestra gallina de huevos de oro</a></li>
            </ul>
        </li>
        <li><a href="">Contacto</a></li>
    </ul>
</div>